<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Ingreso</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="./styles/styles.css">
</head>

<body>
    <div class="container mt-2">
        <div class="jumbotron">
            <h1 class="mb-3">Setting Information</h1>
            <ol class="list-group list-group-numbered">
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <h6 class="fw-bold">
                            Argumentos de entradas
                        </h6>
                        <% if(argumentos.length> 0) { %>
                            <% argumentos.forEach(arg => { %>
                                <p class="m-0">
                                    <%=arg%>
                                </p>
                                <% })} else { %>
                                    <p>No hay argumentos de entrada</p>
                                    <% } %>
                    </div>
                </li>

                <% data.forEach(item=> { %>
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            <h6 class="fw-bold">
                                <%=item.name%>
                            </h6>
                            <p class="m-0">
                                <%=item.value%>
                            </p>
                        </div>
                    </li>

                    <% }) %>

            </ol>
        </div>
    </div>
</body>

</html>